<?xml version="1.0"   encoding="utf-8"  ?>

<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                 requirePermission="false"   />
    </configSections>
    <connectionStrings>
        <add name="DBConn" connectionString="data source=.\ZBW; initial catalog=testat; integrated security=SSPI"
            providerName="System.Data.SqlClient" />
        <add name="TestatEntities" connectionString="metadata=res://*/EntityFramework.TestatDBEF.csdl|res://*/EntityFramework.TestatDBEF.ssdl|res://*/EntityFramework.TestatDBEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\ZBW;initial catalog=Testat;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
        <add name="MonitoringNuget.Properties.Settings.TestatConnectionString"
            connectionString="Data Source=.\ZBW;Initial Catalog=Testat;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient"
                      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"   />
        </providers>
    </entityFramework>
</configuration>